.popular{
    width: 100%;
    height: 120vh;
    position: absolute;
    top:155vh;
    overflow: hidden;
    
    
}
#header{
    position: relative;
    left: 2vw;
    font-size: 4vw;
    text-transform: uppercase;

}
.carousel{
    position: relative;
    
    width: 190vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: translateX(-30%);
    transition: all 0.3s ease;
}
.slide{
    position: relative;
    left: 2vw;

    background: gray;
    width: 20vw;
    height: 75vh;
    margin: 10vh 0;
    
   
    
}
.slide-content{
    position: relative;
    width: 100%;
    
    padding: 5vh 0vw 5vh 0vw; 
    h1{ 
        position: relative;
        top: -2vw;
        left: 1vw;
        
        text-align: left;
        margin-bottom: 2vh;
        font-size: 2vw;
        display: flex;
        flex-direction: column;
        
        text-transform: capitalize;
        font-weight: normal;
        
        span{
            position: relative;
            text-align: left;
            text-transform: uppercase;
            top: 1vw;
            font-weight: bold;
            
        }
    }
    img{
        position: relative;
        
        width: 20vw;
        height: 35vw;
    }
}
.Button-Slider{
    position: absolute;
    top: 50vh;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    
}
#Next{
    right: 0;
}
#Previous{
    left:0;
}