* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
}

.Home {
  position: relative;
  width: 100%;
  height: 20vh;
}

.Navigation {
  width: 100%;
  position: relative;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
}

.Navigation .Logo .imgLogo {
  width: 6vw;
  height: 5vh;
  margin: 3vh 0 0 6vw;
  cursor: pointer;
}

.Navigation .Login .imgLogin {
  position: absolute;
  top: 0;
  right: 0;
  width: 7vw;
  height: 6.8vh;
  margin: 3vh 6vw 0 0;
  cursor: pointer;
}

.Navigation .userLogin {
  display: block;
}

.imgBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0 2px 5px gray;
          box-shadow: 0 2px 5px gray;
}

.userLogin {
  display: none;
  position: absolute;
  top: 10vh;
  right: 6.6vw;
  height: 60vh;
  width: 26vw;
  border-radius: 2vw;
  background: white;
  -webkit-box-shadow: 0.1px 0.5px 5px lightslategrey;
          box-shadow: 0.1px 0.5px 5px lightslategrey;
}

.userLogin h1 {
  text-align: center;
  margin: 7% 0% 6% 0%;
  -webkit-text-decoration: darkgray;
          text-decoration: darkgray;
  font-size: 2.4vw;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.userLogin form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userLogin form label {
  font-family: Helvetica, sans-serif;
  margin: 2% 0% -1% 10%;
  font-size: 1.1vw;
}

.userLogin form input {
  top: 0.5vh;
  font-family: Helvetica, sans-serif;
  position: relative;
  border-style: none;
  border-radius: 2vw;
  background-color: #f6f0ec;
  outline-width: 0;
  margin-top: 1%;
  width: 87%;
  height: 6vh;
  left: 6%;
  -webkit-padding-start: 1.9vh;
          padding-inline-start: 1.9vh;
  -webkit-padding-end: 1.9vh;
          padding-inline-end: 1.9vh;
}

.userLogin form .forgot {
  position: relative;
  padding: 0 0 0 14vw;
}

.userLogin form .Remember {
  display: inline-block;
}

.userLogin form .Remember #remember {
  display: inline-block;
  height: 2.8vh;
  width: 2.8vw;
  top: 0.5vh;
  left: 2.6vw;
  cursor: pointer;
}

.userLogin form .Remember #font_remember {
  position: relative;
  font-weight: normal;
  font-size: 1.9vh;
  left: -0.2vw;
}

.userLogin form #Submit {
  font-family: Helvetica, sans-serif;
  color: white;
  background: #ff8438;
  top: 2.1vh;
  left: 14%;
  width: 70%;
  height: 6.5vh;
  font-size: 1vw;
  cursor: pointer;
}

.userLogin form h4 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: small;
  padding: 1.7vh 0 0 5.6vw;
}

.userLogin form h4 a {
  color: blue;
}

.Slogan {
  position: absolute;
  top: 57vh;
  left: 7%;
  height: 30vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Slogan h1 {
  font-family: open sans;
  font-size: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.Slogan h1 #coloring {
  color: #ff8438;
  position: relative;
}

.Slogan h1 #First {
  position: relative;
  margin-bottom: -1.5%;
  left: 5%;
}

.Slogan h1 #Second {
  position: relative;
  left: 5%;
}

.Slogan h2 {
  font-family: sans-serif;
  position: relative;
  font-size: 2.5vh;
  top: 1vh;
  left: 5%;
  color: white;
  font-weight: lighter;
}

.Slogan h2 span {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-transform: capitalize;
  left: 3%;
  font-size: 1.45vw;
}

.Recherch {
  position: absolute;
  top: 20vh;
  left: 20%;
  z-index: -50;
  height: 8vh;
  width: 60vw;
  background: white;
  border: 0.1vh solid white;
  border-radius: 10vh;
  -webkit-box-shadow: 0.2px 0.5px 3px grey;
          box-shadow: 0.2px 0.5px 3px grey;
}

.Recherch ul {
  position: relative;
  top: 7vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 55vw;
  height: 5vh;
  font-weight: bold;
  margin: 0 2vw;
}

.Recherch ul li {
  position: relative;
  top: -3.4vh;
  border-right: 0.1vw solid lightgray;
  font-family: sans-serif;
  font-weight: bold;
  color: #2b2b2b;
  background: white;
  width: 15vw;
  font-size: 1vw;
  height: 5vh;
  text-align: center;
  line-height: 6vh;
  cursor: pointer;
}

.Recherch ul img {
  position: absolute;
  top: 1.3vh;
  left: 0.65vw;
  width: 1.7vw;
  height: 1.7vw;
}

.Recherch ul #Rech-img {
  position: absolute;
  z-index: 100;
  top: -1.85vw;
  right: -2.3vw;
  width: 3vw;
  height: 3vw;
  background: #ff8438;
  border: 0.1vw #ff8438;
  border-radius: 50%;
  cursor: pointer;
}

.Discover {
  position: absolute;
  top: 105vh;
  width: 100%;
  height: 30vh;
  background: white;
}

.Discover h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #292929;
  position: relative;
  font-size: 3.7vw;
  margin-top: 2.5vh;
  margin-left: 7.3vw;
}

.Discover h1 span {
  font-size: 1.5vw;
}

.Discover ul {
  padding-left: 7vw;
  margin-top: 4vh;
  height: 30vh;
  width: 98vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Discover ul li {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.3vh;
  padding-left: 2vw;
  color: #303030;
  height: 30vh;
  width: auto;
  margin-left: 4vw;
  text-align: center;
  background: white;
}

.Discover ul li img {
  border-style: none;
  width: 10vw;
  height: 17.5vh;
}

.Discover ul li p {
  position: relative;
  font-weight: bold;
  font-size: 1.3vw;
  line-height: 5vh;
  margin-top: 1vh;
}

.popular {
  width: 100%;
  height: 120vh;
  position: absolute;
  top: 150vh;
  overflow: hidden;
  background-image: url("../resources/pop_srv_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
  top: 18vh;
  position: relative;
  left: 8.2vw;
  font-size: 4vw;
  text-transform: uppercase;
}

.carousel {
  top: 14vh;
  position: relative;
  width: 190vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slide {
  position: relative;
  left: 2.7vw;
  background: white;
  width: 21vw;
  height: 75vh;
  margin: 10vh 0;
  -webkit-box-shadow: 0.2px 1px 3px lightgray;
          box-shadow: 0.2px 1px 3px lightgray;
  border-radius: 1vh;
}

.slide-content {
  font-family: sans-serif;
  position: relative;
  width: 100%;
  padding: 5vh 0vw 5vh 0vw;
}

.slide-content h1 {
  position: relative;
  top: -1.5vw;
  left: 1vw;
  color: #424141;
  font-weight: lighter;
  text-align: left;
  margin-bottom: 0.4vh;
  font-size: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: capitalize;
}

.slide-content h1 span {
  color: #272727;
  font-size: 2vw;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  top: 0.2vw;
  font-weight: bold;
}

.slide-content img {
  position: relative;
  width: 21vw;
  height: 34.8vw;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  -webkit-box-shadow: 0.2px 5px 10px lightslategrey;
          box-shadow: 0.2px 5px 10px lightslategrey;
}

.Button-Slider {
  position: absolute;
  top: 50vh;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

#Next {
  -webkit-box-shadow: 0.5px 1px 2px lightslategrey;
          box-shadow: 0.5px 1px 2px lightslategrey;
  top: 65vh;
  right: 2.9vh;
}

#Next img {
  margin-top: 2.2vh;
  margin-left: 1vw;
  height: 3vh;
  width: 2vw;
}

#Previous {
  -webkit-box-shadow: 0.5px 1px 2px lightslategrey;
          box-shadow: 0.5px 1px 2px lightslategrey;
  top: 65vh;
  left: 2vw;
}

#Previous img {
  margin-top: 2.2vh;
  margin-left: 1vw;
  height: 3vh;
  width: 2vw;
}

.footer {
  position: absolute;
  top: 270vh;
  left: 0;
  z-index: -100000;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #303030;
  -webkit-box-shadow: inset 0 1px 7px black;
          box-shadow: inset 0 1px 7px black;
}

.info {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 15vh;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.About-Tri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.About-Tri h2 {
  color: white;
  font-size: 2vw;
  margin-bottom: 2.4vw;
}

.About-Tri ul li {
  margin-bottom: 1vw;
}

.About-Tri ul li a {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1vw;
  color: #dbdbdb;
}

.Email-Subscribtion {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 1.5vh;
  padding: 0 0 0 29vw;
}

.Email-Subscribtion h1 {
  font-family: sans-serif;
  color: white;
  font-size: 2.7vw;
  font-weight: bold;
  margin-left: -0.15vw;
  margin-bottom: 2vh;
}

.Email-Subscribtion input {
  height: 3vw;
  margin-right: 1vw;
  border-radius: 0.5vw;
  outline-style: none;
  border: white;
  -webkit-box-shadow: 0.2px 0.6px 2px black;
          box-shadow: 0.2px 0.6px 2px black;
  -webkit-padding-start: 1.9vh;
          padding-inline-start: 1.9vh;
  -webkit-padding-end: 1.9vh;
          padding-inline-end: 1.9vh;
}

.Email-Subscribtion #email {
  width: 30vw;
  font-size: 1.3vw;
  font-family: Arial, Helvetica, sans-serif;
  border-color: white;
}

.Email-Subscribtion #submit {
  border-color: black;
  color: white;
  background-color: black;
  width: 10vw;
  position: relative;
  font-size: 1.2vw;
  margin: 0;
  cursor: pointer;
}

.Social-Media {
  position: relative;
  top: 15vh;
  left: 50%;
  width: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

#social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#social img {
  width: 2vw;
}

.Copyright {
  background-color: #272727;
  color: #d8d8d8;
  position: relative;
  top: 30vh;
  width: 100%;
  height: 5vh;
  overflow: hidden;
  padding: 0 0 0 15vw;
  -webkit-box-shadow: 1px 1px 4px black;
          box-shadow: 1px 1px 4px black;
}

.Copyright h1 {
  font-family: sans-serif;
  font-weight: lighter;
  position: relative;
  top: 1.5vh;
  left: 13.4vw;
  font-size: 1vw;
}

.Copyright span {
  font-family: sans-serif;
  font-weight: lighter;
  position: relative;
  padding-left: 1vw;
  left: 0vw;
  top: -0.003vw;
  font-size: 1vw;
}

.Copyright span a {
  color: #afaff8;
}

.Copyright #tri_link {
  color: white;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */